section {
    margin: 0 auto;
    max-width: 1160px;
    text-align: center;
}
section .login_box {
    padding: 100px 50px;
    margin: 0 auto;
    /* width: calc(100% - 300px); */
    width: 700px;
}
section .login_box form {}
section .login_box form fieldset {}
section .login_box form fieldset h1 {
    background: #503396;
    border-radius: 10px 10px 0 0;
    padding: 40px 0;
}
section .login_box form fieldset h1 img {
    width: 250px;
}
.input {
    background: #fff;
    border: 1px solid #503396;
    border-radius: 0 0 10px 10px;
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 330px;
}
.input .login {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input .login .login_wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 250px;
    margin-right: 10px;
}
.input .login .login_wrap #id {
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    padding: 0 5px;
    border: 1px solid #ccc;
}
.input .login .login_wrap #pwd {
    width: 250px;
    height: 40px;
    padding: 0 5px;
    border: 1px solid #ccc;
}
.input li button {
    background: #503396;
    color: #fff;
    padding: 37px 25px;
    border-radius: 10px;
    font-size: 1.333rem;
}
.input li:nth-child(2) {
    text-align: start;
    margin-left: 75px;
}
.input li #id_fix {margin-right: 5px;}
.input li span {}
.input .etc {
    margin: 15px 0 5px;
}
.input .etc a span {
    font-size: 0.8rem;
    border-right: 1px solid #ccc;
    padding: 0 20px 0 15px;
}
.input .etc a:last-child span {border-right: 0;}
.input .other {}
.input .other a {
    margin-right: 30px;
}
.input .other a img {}
.input .other img:last-child {margin-right: 0;}