/* margin,width */
header .h_top,header .h_title,header .nav_open,main .chart,main .cine_wrap,footer .top,footer .btm {
    margin: 0 auto;
    width: 1160px;
}
header {
    background: linear-gradient(90deg, rgba(24,31,43,1) 13%, rgba(37,36,81,1), rgba(24,31,43,1) 87%); 
    padding: 30px 0;
}
header .h_top {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content:center;
    position: relative;
}
header .h_top h1 a {}
header .h_top h1 a img {
    width: 200px;
    
}
header .h_top .h_user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 284px;
    position: absolute;
    right: 0;
}
header .h_top .h_user a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .h_top .h_user a img {
    width: 20px; height: 20px;
    margin-right: 10px;
}
header .h_top .h_user a span {
    
    color: #fff;
}

header .h_title {}
header .h_title nav {
    margin-top: 30px;
}
header .h_title nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .h_title nav ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
header .h_title nav ul li a {
    position:relative;
}
header .h_title nav ul li a::after {
    content:''; display:block;
    width:100%; height:1px; background:#fff;
    position:absolute; bottom:-10px;
    transform:scaleX(0); transition:all 0.3s;
}
header .h_title nav ul li a:hover::after {
    transform:scaleX(1);
}
header .h_title nav ul li a span {
    font-size: 1.333rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}
header .h_title nav ul li .nav_open {
    background: #f8f8fa;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    top: 200px;
    padding: 20px;
    z-index: 200;
    width: auto;
}
header .h_title nav ul li .nav_open a {
    margin-bottom: 15px;
}
header .h_title nav ul li .nav_open a:last-child {
    margin-bottom: 0px;
}
header .h_title #search_frm {}
header .h_title #search_frm fieldset {
    width: 370px;
    background: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .h_title #search_frm fieldset input {
    height: 40px;
    width: 335px;
}
header .h_title #search_frm fieldset #search_btn {
    background: none;
}
header .h_title #search_frm fieldset #search_btn img {}
header .nav_open {
    /* display: none; */
    position: absolute;
    top:100px;
}
header .nav_open ul {}
header .nav_open ul li {
    background: #fff;
    padding: 20px 20px;
}
header .nav_open ul li a {}
main {}
main .slide {
    background: #181f2b;
    position: relative;
    padding-bottom: 50px;
}
main .slide::after {
    content: '';
    display: block;
    height: 650px;
    width: 100%;
    background: linear-gradient(90deg, rgba(24,31,43,1) 13%, rgba(24,31,43,0.25) 25%, rgba(24,31,43, 0) 50%, rgba(24,31,43,0.25) 75%, rgba(24,31,43,1) 87%); 
    position: absolute;
    left: 0; top: 0;
    z-index: 150;
}
main .slide #movie_slide {
    max-width: 1200px; 
    height: 650px;
    position: relative;
    z-index: 100;
}
/* !!!!!!!!!!!!!!!!!!!!!그라데이션 효과 넣기 */
main .slide #movie_slide .swiper-wrapper {}
main .slide #movie_slide .swiper-wrapper .swiper-slide {}
main .slide #movie_slide .swiper-wrapper .slide1 {
    background: url(../images/slide1.jpg) 0 770px;
    background-size: cover;
}
main .slide #movie_slide .swiper-wrapper .slide2 {
    background: url(../images/slide2.jpg) 0 780px;
    background-size: cover;
}
main .slide #movie_slide .swiper-wrapper .slide3 {
    background: url(../images/slide3.jpg) 0 650px;
    background-size: cover;
}
main .slide #movie_slide .swiper-button-prev,
main .slide #movie_slide .swiper-button-next {
    width: 70px; height: 70px;
    position: relative;
    z-index: 300;
}
main .slide #movie_slide .swiper-button-prev {
    background: url(../images/prev.png) no-repeat;
    left: 20px;
}
main .slide #movie_slide .swiper-button-next {
    background: url(../images/next.png) no-repeat;
    right: 20px;
}
main .chart {
    margin: 50px auto;
}
main .chart .c_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
main .chart .c_top h1 {
    font-size: 1.777rem;
    font-weight: 700;
}
main .chart .c_top .plus {
    border: 1px solid #aaa;
    border-radius: 50px;
    padding: 10px 20px;
}
main .chart .c_top .plus span {margin-right: 10px;}
main .chart .c_top .plus img {width: 15px;}
main .chart ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .chart ul .ranking {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
main .chart ul .ranking .m_img {
    width: 250px; height: 350px;
    border-radius: 10px;
}
main .chart ul .ranking:nth-child(1) .m_img {
    background: url(../images/poster1.jpg) no-repeat center;
    background-size: cover;
}
main .chart ul .ranking:nth-child(2) .m_img {
    background: url(../images/poster2.jpg) no-repeat center;
    background-size: cover;
}
main .chart ul .ranking:nth-child(3) .m_img {
    background: url(../images/poster3.jpg) no-repeat center;
    background-size: cover;
}
main .chart ul .ranking:nth-child(4) .m_img {
    background: url(../images/poster4.jpg) no-repeat center;
    background-size: cover;
}
main .chart ul .ranking .m_img p {
    font-size: 3.157rem;
    font-weight: 500;
    margin: 10px 0 0 15px;
    transform: skewX(-10deg);
    color: #fff;
}
main .chart ul .ranking:last-child .m_img p {color: black;}
main .chart ul .ranking .contents {
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
main .chart ul .ranking .contents #like {
    padding: 15px;
    width: 90px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #fff;
}
main .chart ul .ranking .contents #like img {
    width: 15px;
    margin-right: 10px;
}
main .chart ul .ranking .contents a {
    display: block;
    padding: 15px 0;
    width: 150px;
    background: #037b94;
    border: 1px solid #037b94;
    border-radius: 10px;
    color: #fff;
}
main .cine_bg {
    position: relative;
}
main .cine_bg::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 513px;
    bottom: 0;
    background: #503396;
    width: 100%;
    z-index: 100;
}
main .cine_wrap {
    padding: 50px auto;
}
main .cine_wrap .cine_title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
main .cine_wrap .cine_title h1 {
    font-size: 1.777rem;
    font-weight: 700;
}
main .cine_wrap .cine_title .plus {
    border: 1px solid #aaa;
    border-radius: 50px;
    padding: 10px 20px;
}
main .cine_wrap .cine_title .plus span {margin-right: 10px;}
main .cine_wrap .cine_title .plus img {width: 15px;}
main .cine_wrap .banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 200;
}
main .cine_wrap .banner .left {
    margin-right: 40px;
}
main .cine_wrap .banner .left .top {}
main .cine_wrap .banner .left .top img {
    width: 700px; height: 300px;
    margin-bottom: 40px;
    border-radius: 5px;
}
main .cine_wrap .banner .left .btm {}
main .cine_wrap .banner .left .btm a {
    display: inline-block;
    filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.5));
}
main .cine_wrap .banner .left .btm a:first-child img {
    width: 450px; height: 200px;
    margin-right: 36px;
    border-radius: 5px;
}
main .cine_wrap .banner .left .btm a:last-child img {
    width: 210px; height: 200px;
    border-radius: 5px;
}
main .cine_wrap .banner .right {
    filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.5));
}
main .cine_wrap .banner .right img {
    width: 420px; height: 540px;
    border-radius: 5px;
}
main .cine_wrap .user_wrap {
    position: relative;
    z-index: 200;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
main .cine_wrap .user_wrap a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 50px 0 70px 0;
}
main .cine_wrap .user_wrap a img {
    width: 50px;
    margin-bottom: 20px;
}
main .cine_wrap .user_wrap a span {
    color: #fff;
    font-size: 1.333rem;
}
footer {
    background: #f8f8fa;
    padding: 50px 0;
}
footer .top {
    width: 1160px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
footer .top .top_fnb {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
footer .top .top_fnb a {
    margin-right: 15px;
    font-size: 0.75rem;
}
footer .top .top_fnb a:nth-child(7) {font-weight: 500;}
footer .top .top_fnb a:last-child {margin-right: 0;}
footer .top .top_right {}
footer .top .top_right a {
    width: 35px; height: 35px;
    margin-right: 10px;
    display: inline-block;
    transition: all 0.1s both;
    text-indent: -9999px;
}
footer .top .top_right a:first-child {
    background: url(../images/ico-youtubeN.png) no-repeat center;
    background-size: 100%;
}
footer .top .top_right a:first-child:hover {
    background: url(../images/ico-youtube.png) no-repeat center;
    background-size: 100%;
}
footer .top .top_right a:nth-child(2) {
    background: url(../images/ico-instagramN.png) no-repeat center;
    background-size: 100%;
}
footer .top .top_right a:nth-child(2):hover {
    background: url(../images/ico-instagram.png) no-repeat center;
    background-size: 100%;
}
footer .top .top_right a:nth-child(3) {
    background: url(../images/ico-facebookN.png) no-repeat center;
    background-size: 100%;
}
footer .top .top_right a:nth-child(3):hover {
    background: url(../images/ico-facebook.png) no-repeat center;
    background-size: 100%;
}
footer .top .top_right a:nth-child(4) {
    background: url(../images/ico-twitterN.png) no-repeat center;
    background-size: 100%;
}
footer .top .top_right a:nth-child(4):hover {
    background: url(../images/ico-twitter.png) no-repeat center;
    background-size: 100%;
}
footer .btm {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
footer .btm h2 {
    width: 150px;
    margin-right: 20px;
}
footer .btm address {
    font-size: 0.75rem;
    line-height: 20px;
}
footer .btm address a {
    font-size: 0.75rem;
    line-height: 22px;
}